.footer{
    height: 30vh;
    background-color: var(--black);
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerLeft{
    max-width: 450px;
    padding: 30px;
    font-size: 14px;
}
.footerRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 460px;
}
.icons{
    width: 30px;
    height: 50px;
    margin: 10px;
}